@charset "UTF-8";

.co_id_colum{
	font-size: 0.8em;
    color: brown;
    width: 15vw;
}

.co_content_colum{
		font-size: 0.8em;
		max-width:40vw;
		word-break:break-all;

}

.co_date_colum{
		font-size: 0.8em;
    color: gray;
}

.co_btn_colum{
	font-size: 0.8em;
	color: red;
}
.co_content{
	width:80%; 
	min-height:50px; 
	border:1px solid black; 
	float:left;
}
